- hosts: linux_provision_machine
  become: true
  become_user: root
  become_method: sudo
  gather_facts: no

  vars_prompt:
    - name: "new_ip_address"
      prompt: "What should the last part of the IP address be for this server (within the 172.16.0.___/23)?"
      default: "255"
      private: no
    - name: "new_domain_name"
      prompt: "What should the domain name of the new machine be?"
      default: "new-server.example.com"
      private: no
    - name: "new_root_password"
      prompt: "What should the root password be for the machine?"
      default: "Change-Root-Password*"
      private: no
          
  vars:
   password_generate: "{{ lookup('password', '/dev/null length=24 chars=ascii_letters') }}"

  pre_tasks:
    - name: 'install python2'
      raw: sudo apt-get -y install python

  tasks:
    - name: 'Add repo part 1'
      apt_repository:
       repo: "{{ repository.1 }}"
       state: present

    - name: 'Add repo part 2'
      apt_repository:
       repo: "{{ repository.2 }}"
       state: present

    - name: 'Add repo part 3'
      apt_repository:
       repo: "{{ repository.3 }}"
       state: present

    - name: 'Add repo part 4'
      apt_repository:
       repo: "{{ repository.4 }}"
       state: present

    - name: 'Apt upgrade'
      apt:
       upgrade: yes
       update_cache: yes
       cache_valid_time: 86400 #One day

    - name: 'Apt dist-upgrade'
      apt:
       upgrade: dist
       update_cache: yes
       cache_valid_time: 86400 #One day

    - name: 'Install a list of packages'
      apt:
       name: "{{ packages }}"
      vars:
       packages:
        - lxd
        - openssh-server
        - tcpdump
        - python-paramiko
        - python-mysqldb
        - python-pexpect

    - name: 'Add hosts allow'
      blockinfile:
       marker: "#####  ANSIBLE GENERATED ################################################## [ {mark} ]"
       create: yes
       path: /etc/hosts.allow
       block: |
                all:127.0.0.1
                sshd:all

    - name: 'Add hosts deny'
      blockinfile:
       marker: "#####  ANSIBLE GENERATED ################################################## [ {mark} ]"
       create: yes
       path: /etc/hosts.deny
       block: |
                all:all

    - name: 'Remove admin from sudoers'
      lineinfile:
       path: /etc/sudoers
       state: present
       regexp: '^%admin'
       line: '# %admin ALL=(ALL) ALL'
       validate: '/usr/sbin/visudo -cf %s'

    - name: 'Generate passwords'
      set_fact:
       lxd_pwd: "{{ lookup('password', '/dev/null length=44 chars=ascii_letters') }}"

    - name: 'Display passwords'
      debug:
       msg: 
        - "Root password '{{ new_root_password }}'"
        - "LXD remote password '{{ lxd_pwd }}'"

    - name: 'Store server config and password on ansible server in /etc/ansible/host_var/'
      blockinfile:
       marker: "#####  ANSIBLE GENERATED ################################################## [ {mark} ]"
       create: yes
       path: "/etc/ansible/host_vars/{{ new_domain_name }}"
       block: |
               description: LXD Host (bare metal)
               ansible_become_pass: {{ new_root_password }}
               lxd_remote_pwd: {{ lxd_pwd }}
      delegate_to: 127.0.0.1

    - name: 'Set root password on server'
      user:
       name: root
       update_password: always
       password: "{{ new_root_password | password_hash('sha512', 'mysalt') }}"

      # due to issue with netplan creating bridge with IP
    - name: 'Add Bridge: acad /etc/systemd/network/br0.network'
      blockinfile:
       marker: "#####  ANSIBLE GENERATED ################################################## [ {mark} ]"
       create: yes
       path: "/etc/systemd/network/br0.network"
       block: |
               [Match]
               Name=acad

               [Network]
               LinkLocalAddressing=no
               IPv6AcceptRA=no

    - name: 'Add Bridge: admin /etc/systemd/network/br1.network'
      blockinfile:
       marker: "#####  ANSIBLE GENERATED ################################################## [ {mark} ]"
       create: yes
       path: "/etc/systemd/network/br1.network"
       block: |
               [Match]
               Name=admin
               
               [Network]
               LinkLocalAddressing=no
               IPv6AcceptRA=no

    # Change SSH config to allow it only to login
    - name: "Replace SSH config to allow user {{ ssh_username }} and root to SSH."
      file:
              state: absent
              path: "/etc/ssh/sshd_config"
    - file:
              state: touch
              path: "/etc/ssh/sshd_config"
    - lineinfile:
              state: present
              insertafter: EOF
              dest: "/etc/ssh/sshd_config"
              line: "{{ item }}"
      with_items:
              - "ChallengeResponseAuthentication no"
              - "UsePAM yes"
              - "X11Forwarding yes"
              - "PrintMotd no"
              - "AcceptEnv LANG LC_*"
              - "Subsystem sftp  /usr/lib/openssh/sftp-server"
              - ""
              - "# allow root and {{ ssh_username }} to ssh"
              - "AllowUsers {{ ssh_username }} root"
              - "PasswordAuthentication yes"
              - "PermitRootLogin yes"
              - ""
              - "# but limit root to SSH key only"
              - "Match User root"
              - "PasswordAuthentication no"

    - name: 'Delete current netplan config'
      file:
       state: absent
       path: /etc/netplan/50-cloud-init.yaml

    - name: 'Set netplan /etc/netplan/50-cloud-init.yaml'
      blockinfile:
       marker: "#####  ANSIBLE GENERATED ################################################## [ {mark} ]"
       create: yes
       path: "/etc/netplan/50-cloud-init.yaml"
       block: |
                network:
                    version: 2
                    renderer: networkd
                    ethernets:
                         eno1:
                                 dhcp4: no
                                 dhcp6: no
                    bridges:
                        # standard network 
                        standard:
                                addresses:
                                       - 172.16.0.{{ new_ip_address }}/23
                                gateway4: 172.16.0.1
                                routes:
                                        - to: 0.0.0.0/0
                                          via: 172.16.0.1
                                nameservers:
                                        search:
                                                - {{ dns_search }}
                                        addresses:
                                                - {{ dns_nameservers.1 }}
                                                - {{ dns_nameservers.2 }}

                                interfaces: [ eno1 ]
                        # acad network
                        acad:
                                interfaces: [ vlan2 ]
                        # admin network
                        admin:
                                interfaces: [ vlan3 ]
                    vlans:
                        vlan2:
                                id: 2
                                link: eno1
                        vlan3:
                                id: 3
                                link: eno1

    # avoid making the storage pool incase it is already made
    - name: 'LXD init'
      expect:
       command: 'lxd init'
       responses:
        'Would you like to use LXD clustering' : 'no'
        'Do you want to configure a new storage pool' : 'no'
        'Name of the new storage pool' : 'default'
        'Name of the storage backend to use' : 'dir'
        'Would you like to connect to a MAAS server' : 'no'
        'Would you like to create a new local network bridge' : 'no'
        'Would you like to configure LXD to use an existing bridge or host interface' : 'no'
        'Would you like LXD to be available over the network' : 'no'
        'Would you like stale cached images to be updated automatically' : 'yes'
        'Would you like a YAML' : 'no'

    - name: 'Create LXD storage pool "default"'
      shell: 'lxc storage create default dir'
      ignore_errors: yes

    - name: 'Setup remote LXD'
      shell: 'lxc config set core.https_address [::]:8443'

    - name: 'Setup remote LXD'
      shell: "lxc config set core.trust_password {{ lxd_pwd }}"

    - name: "Remove {{ ssh_username }} from all groups"
      user:                            
       name: "{{ ssh_username }}"                        
       groups: ''                             
       append: no

    - name: 'Reboot to apply netplan and restart sshd at same time'
      command: reboot
